services:
  coco-mulla:
    build: .
    container_name: coco-mulla
    tty: true
    stdin_open: true
    volumes:
      - .:/app
      - ~/.cache/huggingface:/root/.cache/huggingface
      - ~/.cache/torch:/root/.cache/torch
      - ../out:/app/out
      - ../data:/app/data:ro
    working_dir: /app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
